:root {
    --light: #F3F6F9;
    --light-gray: #3A3939;
    --purple: #6532F8;
    --deleted-movie: #2e2e2e;
    --placeholder-gray: #808080;
    --bg-dark: #181818;
    --bg-light-dark: #232323;
}

html, body {
    height: 100%;
    width: 100%;
    
    font-family: "Arimo", serif;
    font-size: 18px;

    color: var(--light);
    background-color: var(--bg-dark);
}

.container {
    height: 100%;
    width: 980px;
    margin: 0 auto;
    padding: 0 20px;
}
@media (max-width: 1000px) {
    .container {
        height: 100%;
        width: 750px;
        margin: 0 auto;
        padding: 0 20px;
    }
}
@media (max-width: 768px) {
    .container {
        height: 100%;
        width: 600px;
        margin: 0 auto;
        padding: 0 20px;
    }
}
@media (max-width: 620px) {
    .container {
        height: 100%;
        width: 100%;
        padding: 0 20px;
    }
}

section.movies-list {
    height: 100%;
    width: 100%;
    .container {
        .movies-list-inner {
            height: 100%;
            padding-top: 40px;
            padding-bottom: 40px;
            .movies__title {
                padding-left: 75px;
                margin-bottom: 45px;
                display: flex;
                flex-direction: column;
                .top-title__texts {
                    display: flex;
                    align-items: center;
                    h2.top-title__text_movies-list {
                        padding: 10px 25px;
                        border-radius: 200px;
                        background-color: var(--purple);
                    }
                    @media (max-width: 620px) {
                        h2.top-title__text_movies-list {
                            font-size: 16px;
                        }
                    }
                    h2.top-title__text_year {
                        padding: 10px 25px;
                        border-radius: 200px;
                        background-color: var(--purple);
                    }
                    @media (max-width: 620px) {
                        h2.top-title__text_year {
                            font-size: 16px;
                        }
                    }
                }
                .main-title {
                    h2 {
                        font-size: 100px;
                    }
                }
                @media (max-width: 1000px) {
                    .main-title {
                        h2 {
                            font-size: 80px;
                        }
                    }
                }
                @media (max-width: 620px) {
                    .main-title {
                        h2 {
                            font-size: 55px;
                        }
                    }
                }
                @media (max-width: 500px) {
                    .main-title {
                        h2 {
                            font-size: 40px;
                        }
                    }
                }
            }
            @media (max-width: 620px) {
                .movies__title {
                    padding-left: 20px;
                }
            }
            .movies-content {
                width: 100%;
                position: relative;
                border-radius: 20px;
                background-color: var(--bg-light-dark);
                overflow: hidden;
                .movies-content__container {
                    padding: 70px;
                    .input-block {
                        margin-bottom: 40px;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        .input-block__input {
                            input.movie-input {
                                width: 410px;
                                border: none;
                                border-bottom: 1px solid var(--placeholder-gray);
                                line-height: 62px;
                                color: var(--light);
                                font-size: 30px;
                                background-color: transparent;
                                caret-color: var(--light);
                            }
                            input::placeholder {
                                color: var(--placeholder-gray);
                                font-size: 30px;
                            }
                            input:focus {
                                outline: none;
                            }
                        }
                        @media (max-width: 768px) {
                            .input-block__input {
                                input.movie-input {
                                    width: 100%;
                                }
                                input::placeholder {
                                    font-size: 18px;
                                }
                                input:focus {
                                    outline: none;
                                }
                            }
                        }
                        @media (max-width: 500px) {
                            .input-block__input {
                                input.movie-input {
                                    max-width: 200px;
                                }
                                input::placeholder {
                                    font-size: 18px;
                                }
                            }
                        }
                        .input-block__btn {
                            button.add-movie-btn {
                                padding: 15px;
                                border-radius: 50%;
                                border: none;
                                background-color: var(--purple);
                                img {
                                    width: 100%;
                                }
                            }
                        }
                        @media (max-width: 500px) {
                            .input-block__btn {
                                button.add-movie-btn {
                                    padding: 10px;
                                    border-radius: 50%;
                                    img {
                                        max-width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    @media (max-width: 500px) {
                        .input-block {
                            display: flex;
                            justify-content: space-between;
                            gap: 10px;
                        }
                    }
                    .movies-list {
                        max-width: 100%;
                        overflow: hidden;
                        .movies-list__wrapper {
                            .movies-list__items {
                                min-height: 400px;
                                height: 510px;
                                max-height: max-content;
                                display: flex;
                                flex-direction: column;
                                gap: 3px;
                                overflow: hidden scroll;
                                .movies-list__item {
                                    min-height: 60px;
                                    max-height: 70px;
                                    padding: 20px 50px;
                                    display: flex;
                                    align-items: center;
                                    border-radius: 10px;
                                    background-color: var(--light-gray);
                                    .btn-and-name-movie {
                                        position: relative;
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
                                        gap: 10px;
                                        align-items: center;
                                        .btn-and-name-movie__btn-select {
                                            .select-movie-btn {
                                                width: 30px;
                                                // position: relative;
                                                // top: 50%;
                                                // left: 50%;
                                                // transform: translate(-50% -50%);
                                                border: none;
                                                background-color: transparent;
                                                svg {
                                                    min-width: 100%;
                                                    min-height: 100%;
                                                    border-radius: 50%;
                                                }
                                            }
                                        }
                                        .btn-and-name-movie__name-movie {
                                            p {
                                                font-size: 20px;
                                            }
                                        }
                                    }
                                    .btn-delete-movie-btn {
                                        button {
                                            border: none;
                                            background-color: transparent;
                                            svg {
                                                min-width: 100%;
                                                min-height: 100%;
                                                fill: var(--light);
                                            }
                                        }
                                    }
                                }
                                .deleted-movie { // добавляем класс, когда удалили фильм
                                    background-color: var(--deleted-movie);
                                    .btn-and-name-movie {
                                        .select-movie-btn {
                                            svg {
                                                border-radius: 50%;
                                                background-color: var(--purple);
                                            }
                                        }
                                        p {
                                            text-decoration: line-through;
                                            color: var(--placeholder-gray);
                                        }
                                    }
                                    .btn-delete-movie-btn {
                                        .delete-movie {
                                            svg {
                                                fill: #7c7c7c;
                                            }
                                        }
                                    }
                                }
                            }
                            .movies-list__items::-webkit-scrollbar {
                                width: 0;
                            }
                        }
                    }
                }
                @media (max-width: 620px) {
                    .movies-content__container {
                        padding: 40px;
                    }
                }
            }
        }
    }
}